.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .outer {
    width: 350px;
    padding: 32px 16px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); /* for Safari */
    background: rgba(255, 255, 255, 0.1); /* semi-transparent */
    border-width: 1px;
    border-style: solid;
    border-color: inherit;
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    border-radius: 20px;
    .Signin {
      width: 100%;
      text-align: center;
      margin-bottom: 36px;
      font-size: 2rem;
      font-weight: 600;
    }

    .fieldWrapper {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;
      .inputWrapper {
        width: 100%;
        height: 50px;
        padding-right: 16px;
        background-color: transparent;
        border-radius: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-width: 1px;
        border-style: solid;
        border-color: inherit;
        .input {
          background-color: transparent;
          padding-left: 22px;
          font-size: 1.2rem;
          font-weight: 400;
          height: 100%;
          flex: 1;
          border: none;
          color: inherit;
        }
        .input:focus {
          outline: none;
        }
        .inputFile {
          width: 100%;
          flex: 1;
          border: none;
           color: transparent;
        }
        .inputFile::-webkit-file-upload-button {
          visibility: hidden;
        }
        .inputFile::before {
          color: inherit;
          content: "Choose File..";
          display: inline-block;
          background: transparent;
          padding: 5px 8px;
          outline: none;
          white-space: nowrap;
          -webkit-user-select: none;
          cursor: pointer;
          text-shadow: 1px 1px #fff;
          font-weight: 700;
          font-size: 10pt;
        }
        .inputFile::before {
          border-color: none;
           color: inherit;
        }
      }
    }

    .login {
      margin: 36px 0 8px 0;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 50px;
      background-color: white;
      border-radius: 20px;
      outline: none;
      font-size: 1.2rem;
      font-weight: 500;
      cursor: pointer;
    }
  }
}
