.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 0 4px;
  .searchContainer {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px); /* for Safari */
    background: rgba(255, 255, 255, 0.1); /* semi-transparent */
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 6px 8px;
    .searchIcon {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .input {
      width: 100%;
      height: 100%;
      flex: 1;
      background-color: transparent;
      border: none;
      padding-left: 4px;
      color: inherit;
    }
    .input:focus {
      outline: none;
    }
    .addIcon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}
